.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(19, 19, 19);
  max-width: 100vw;
}

.footer__nav {
  display: flex;
  justify-content: flex-start;
  max-width: 100vw;
  padding: 24px;
}

.footer__copyright {
  display: flex;
  justify-content: flex-start;
  max-width: 100vw;
  height: 100px;
  padding: 24px;
}

.footer__copyright-text {
  color: rgb(161, 161, 161);
  font-size: 12px;
  pointer-events: none;
  user-select: none;
}
