.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 17px;
  column-gap: 5px;
  padding: 5px;
  width: 100vw;
  margin: 0;
  background-color: white;
  user-select: none;
}

@media screen and (max-width: 445px) {
  .category {
    display: block;
  }
}

.category__container {
  position: relative;
}

.category__image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  transition: all 200ms ease-out;
}

.category__overlay {
  background: linear-gradient(
    163deg,
    rgb(0 53 46 / 0%) 0%,
    rgba(0, 0, 0, 0.137) 41%,
    #000000 100%
  );
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
  user-select: none;
}

.category__overlay:hover {
  opacity: 1;
}

.category__title {
  transition: opacity 0.3s;
  position: absolute;
  bottom: -15px;
  left: 15px;
  color: white;
  font-size: 30px;
  font-weight: 900;
  pointer-events: none;
  user-select: none;
  transition: all 200ms ease-out;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .category__title {
    font-size: 20px;
  }
}
