.navigation {
  display: grid;
  align-content: center;
  gap: 1.5rem;
  padding: 0 20px 0 0;
  width: 40vw;
}

@media screen and (max-width: 600px) {
  .navigation {
    width: 100vw;
  }
}

.navigation__list {
  list-style: none;
}

.navigation__list:has(:checked) {
  --rows: 1fr;
  --rotate: rotate(180deg);
}

.navigation__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  align-items: center;
  gap: 10px;
  position: relative;
  border-bottom: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: white;
  border-style: groove;
  user-select: none;
}

.navigation__check {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.navigation__arrow {
  transform: var(--rotate, 0);
  transition: 0.3s transform;
  width: 20px;
}

.navigation__content {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: 0.7s grid-template-rows;
}

.navigation__submenu {
  overflow: hidden;
  list-style: none;
  padding: 0 20px;
}

.navigation__li {
  margin: 1rem 0 0;
}

.navigation__sublink {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  width: fit-content;
  transition: all 200ms ease-out;
  user-select: none;
}

.navigation__sublink:hover {
  text-decoration: underline;
}
