.preloader {
  min-height: 100vh;
}

.preloader__circle {
  display: block;
  width: 30px;
  height: 30px;
  border: 4px solid #ffffff;
  border-bottom-color: transparent;

  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
